{% extends 'frontend/main.html' %}
{% load static %}

{% block content %}

    <h1>Add family member</h1>

    <div class="input-field">
        <label for="relation">Relation</label><br>
        <select id="relation" name="relation" form="create-member-form" required>
            <option value="Father">Father</option>
            <option value="Mother">Mother</option>
            <option value="Brother">Brother</option>
            <option value="Sister">Sister</option>
            <option value="Son">Son</option>
            <option value="Daughter">Daughter</option>
            <option value="Grandfather">Grandfather</option>
            <option value="Grandmother">Grandmother</option>
            <option value="Granddaughter">Granddaughter</option>
            <option value="Grandson">Grandson</option>
            <option value="Aunt">Aunt</option>
            <option value="Uncle">Uncle</option>
        </select>
    </div>

    <form id='create-member-form' method='POST'>

        <div class="input-field">
            <label for="first_name">First Name</label><br>
            <input type="text" name="first_name" id="first-name" required>
        </div>

        <div class="input-field">
            <label for="last_name">Last Name</label><br>
            <input type="text" name="last_name" id="last-name" required>
        </div>

        <div class="input-field">
            <label for="birthday">Birthday</label><br>
            <input type="date" name="birthday" id="birthday" required>
        </div>

        <div class="input-field">
            <label for="vital_status">Vital status</label><br>
            <input type="text" name="vital_status" id="vital-status" required>
        </div>

        <div class="input-field">
            <label for="is_in_law">Is in law</label><br>
            <input type="checkbox" name="is_in_law" id="is-in-law">
        </div>

        <input type="submit" value="Add" />
    </form>

{% endblock %}

{% block scripts %}
    <script src="{% static 'frontend/addMember.js' %}"></script>
{% endblock %}