{% extends 'frontend/main.html' %}
{% load static %}

{% block content %}

    <form id='change-password-form' method="POST">
        {% csrf_token %}

        <div class="input-field">
            <label for="old_password">Enter you current password: </label><br>
            <input type="password" name="old_password" id="change-password-old-password" required>
        </div>

        <div class="input-field">
            <label for="password1">New password: </label><br>
            <input type="password" name="password1" id="change-password-password1" required>
        </div>

        <div class="input-field">
            <label for="password2">Re-type new password: </label><br>
            <input type="password" name="password2" id="change-password-password2" required>
        </div>

        <br><input type="submit" value="Submit">
    </form>

{% endblock %}

{% block scripts %}
    <script src="{% static 'frontend/profile.js' %}"></script>
{% endblock %}