{% extends 'frontend/main.html' %}
{% load static %}

{% block content %}

    <form id='profile-form' method="POST">
        {% csrf_token %}

        <div class="input-field">
            <label for="first_name">First Name</label><br>
            <input type="text" name="first_name" id="profile-first-name" required>
        </div>

        <div class="input-field">
            <label for="last_name">Last Name</label><br>
            <input type="text" name="last_name" id="profile-last-name" required>
        </div>
        
        <div class="input-field">
            <label for="email">Email</label><br>
            <input type="email" name="email" id="profile-email" required>
        </div>

        <div class="input-field">
            <label for="birthday">Birthday</label><br>
            <input type="date" name="birthday" id="profile-birthday" required>
        </div>

        <div class="input-field">
            <label for="vital_status">Vital Status</label><br>
            <input type="text" name="vital_status" id="profile-vital-status" required>
        </div>

        <br><input type="submit" value="Submit">
    </form>
    <br>

    <a href="{% url 'frontend:edit_password' %}">Change password</a>

{% endblock %}

{% block scripts %}
    <script src="{% static 'frontend/profile.js' %}"></script>
{% endblock %}