{% extends 'frontend/main.html' %}
{% load static %}

{% block content %}

    <h1>Family Tree</h1>

    <a href="{% url 'frontend:add_member' %}">Add member</a>

    <table id="family-member-table">
        <tr>
            <th>Relation</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birthday</th>
            <th>Vital Status</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>You</td>
            <td id="user-first-name"></td>
            <td id="user-last-name"></td>
            <td id="user-birthday"></td>
            <td id="user-vital-status"></td>
            <td>
                <form action="{% url 'frontend:edit_profile' %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Edit"/>
                </form>
            </td>
        </tr>
    </table>

{% endblock %}

{% block scripts %}
    <script src="{% static 'frontend/familyTree.js' %}"></script>
{% endblock %}