{% extends 'frontend/main.html' %}
{% load static %}

{% block content %}

	<div id="user-homepage" hidden>
		<h1>Welcome! <span id="user-welcome"></span></h1>
		<a href="{% url 'frontend:edit_profile' %}">Edit profile</a><br>
		<a href="{% url 'frontend:family_tree_view' %}">Family Tree</a><br>
		<button class="logout-button">Logout</button>
	</div>

	<div id="no-user-homepage" hidden>
		<h1>No user logged in</h1>
		<a href="{% url 'frontend:user_signup' %}">Sign-Up</a><br>
		<a href="{% url 'frontend:user_login' %}">Sign-In</a><br><br>
	</div>


{% endblock %}

{% block scripts %}
    <script src="{% static 'frontend/homepage.js' %}"></script>
{% endblock %}