{% extends 'frontend/main.html' %}
{% load static %}

{% block content %}

    <form id='user-login-form' method="POST">
        {% csrf_token %}
        <label for="username">Username</label><br>
        <input type="text" name="username" id="login_username" required><br>

        <label for="password">Password</label><br>
        <input type="password" name="password" id="login_password" required><br><br>
        <input type="submit" value="Login">
    </form>

{% endblock %}

{% block scripts %}
    <script src="{% static 'frontend/login.js' %}"></script>
{% endblock %}