{% load static %}
<!DOCTYPE html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'frontend/main.js' %}"></script>
  <link rel="stylesheet" href="{% static 'frontend/main.css' %}">

</head>
<html>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
<script>
  const apiEndpoint = '{{ api_endpoint }}'
</script>
{% block scripts %}
{% endblock %}