{% extends 'frontend/main.html' %}
{% load static %}

{% block content %}

    <form id='signup-form' method="POST">
        {% csrf_token %}
        <div class="input-field">
            <label for="username">Username</label><br>
            <input type="text" name="username" id="signup-username" required>
        </div>

        <div class="input-field">
            <label for="first_name">First Name</label><br>
            <input type="text" name="first_name" id="signup-first-name" required>
        </div>

        <div class="input-field">
            <label for="last_name">Last Name</label><br>
            <input type="text" name="last_name" id="signup-last-name" required>
        </div>
        
        <div class="input-field">
            <label for="email">Email</label><br>
            <input type="email" name="email" id="signup-email" required>
        </div>

        <div class="input-field">
            <label for="birthday">Birthday</label><br>
            <input type="date" name="birthday" id="signup-birthday" required>
        </div>

        <div class="input-field">
            <label for="vital_status">Vital Status</label><br>
            <input type="text" name="vital_status" id="signup-vital-status" required>
        </div>

        <div class="input-field">
            <label for="password1">Password</label><br>
            <input type="password" name="password1" id="signup-password1" required>
        </div>
        
        <div class="input-field">
            <label for="password2">Re-type Password</label><br>
            <input type="password" name="password2" id="signup-password2" required>
        </div>

        <br><input type="submit" value="Register">
    </form>

{% endblock %}

{% block scripts %}
    <script src="{% static 'frontend/signup.js' %}"></script>
{% endblock %}