table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
th{
    background-color: #888888;
    border: 1px solid #dddddd;
    padding: 8px;
}
td{
    text-align: center;
    padding: 8px;
    border: 1px solid #dddddd;
}
td:nth-child(odd) {
    background-color: #aaaaaa;
}

.input-field{
    margin-top: 12px;
}